.handy-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 10px;
}

.handy-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 230px;
  text-align: center;
  cursor: pointer;
}

.handy-card Image {
  opacity: 0.5 !important;
}
