.container-pjf {
  background-color: rgb(235, 235, 235);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-pjf {
  width: 50%;
  margin: 15px 0px 15px 0px;
}

@media (max-width: 768px) {
  .main-pjf {
    width: 96%;
  }
}

.job-form-pjf {
  border: 1px solid rgb(175, 175, 175);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
}
