.container-hd {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-hd {
  margin: 20px 0px;
  width: 650px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main-hd img {
  height: 380px;
  width: 650px;
}

@media (max-width: 700px) {
  .main-hd {
    width: 450px;
  }
  .main-hd img {
    height: 300px;
    width: 450px;
  }
  .related-section img {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 460px) {
  .main-hd {
    width: 300px;
  }
  .main-hd img {
    height: 200px;
    width: 300px;
  }
  .related-section img {
    height: 150px;
    width: 150px;
  }
}

.header-hd {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.parahgraphs-hd {
  width: 90%;
  margin: 20px auto;
}

.related-section {
  width: 250px !important;
  cursor: pointer;
}

.related-section img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
